.nav{
    position: sticky;
    top:0;
    width: 100vw;
    background-color: #222;
    font-size: 3rem;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 1000;
}.link:link,.link:visited{
    color: white;
}
.logo_nav{
    height: 60px;
}

@media (max-width:700px){
    .nav{
        font-size: 1.5rem;
    }
}